# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.c
*.cxx

# Required C libraries
!**/libNearestNeighbors/nearestNeighbor.cpp

# Sphinx documentation
docs/_build/
docs/_autosummary

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# IDEA files (IntelliJ, PyCharm,etc.)
.idea/

# Text files
*.csv
!**/data/*.csv
!**/data/*.txt
!tests/evaluation/*.csv
!tests/utils*.csv

# Coverage
.coverage
coverage/

# pytest
.pytest_cache

# IDE
.spyproject/
