# https://pre-commit.com
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: debug-statements #Check for debugger imports and breakpoint() in python files
      - id: check-ast #Simply check whether files parse as valid python
      - id: fix-byte-order-marker #removes UTF-8 byte order marker
      - id: check-json
      - id: detect-private-key # detect-private-key is not in repo
      - id: check-yaml
      - id: check-added-large-files
      - id: check-shebang-scripts-are-executable
      - id: check-case-conflict #Check for files with names that would conflict on a case-insensitive filesystem like MacOS HFS+ or Windows FAT
      - id: end-of-file-fixer #Makes sure files end in a newline and only a newline
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.4
    hooks:
      - id: ruff
        language: python
        args: [--line-length=79, --fix]
        types_or: [python, pyi, jupyter]
      - id: ruff-format
        args: [--line-length=79]
        types_or: [python, pyi, jupyter]
  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        language: python
        types: [python]
        entry: pytest
        pass_filenames: false
        always_run: true
        args: [
          --doctest-modules,
          -o, addopts=""
          ]
  - repo: local
    hooks:
      - id: mypy # mypy is a pre-commit hook that runs as a linter to check for type errors
        name: mypy
        entry: mypy --implicit-optional
        language: system
        types: [python]
        args: [
          "--ignore-missing-imports",
          "--explicit-package-bases",
          "--check-untyped-defs"
          ]
        stages:
          - "pre-push"
          - "pre-merge-commit"
