name: Clear all Github Actions caches
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  my-job:
    name: Delete all caches
    runs-on: ubuntu-20.04

    steps:
      - name: Clear caches
        uses: easimon/wipe-cache@main
